(
    name: "station",
    spawn_points: [
        (496.0, 912.0),
        (1328.0, 912.0),
        (2096.0, 912.0),
        (2800.0, 912.0),
        (496.0, 1456.0),
        (1328.0, 1456.0),
        (2096.0, 1456.0),
        (2800.0, 1456.0),
    ],
    doors: [
        (496.0, 1072.0),
        (1328.0, 1072.0),
        (2096.0, 1072.0),
        (2800.0, 1072.0),
        (1552.0, 752.0),
    ],
    door_access: [
        (
            position: (1328.0, 1072.0),
            access: "engineering",
        ),
        (
            position: (2800.0, 1072.0),
            access: "command",
        ),
    ],
    cables: [
        (336.0, 400.0),
        (368.0, 400.0),
        (400.0, 400.0),
        (432.0, 400.0),
        (464.0, 400.0),
        (496.0, 400.0),
        (496.0, 432.0),
        (496.0, 464.0),
        (496.0, 496.0),
        (496.0, 528.0),
        (496.0, 560.0),
        (496.0, 592.0),
        (496.0, 624.0),
        (496.0, 656.0),
        (496.0, 688.0),
        (496.0, 720.0),
        (496.0, 752.0),
        (496.0, 784.0),
        (496.0, 816.0),
        (496.0, 848.0),
        (496.0, 880.0),
        (496.0, 912.0),
        (496.0, 944.0),
        (496.0, 976.0),
        (496.0, 1008.0),
        (496.0, 1040.0),
        (496.0, 1072.0),
        (496.0, 1104.0),
        (496.0, 1136.0),
        (496.0, 1168.0),
        (496.0, 1200.0),
        (496.0, 1232.0),
        (496.0, 1264.0),
        (496.0, 1296.0),
        (528.0, 400.0),
        (560.0, 400.0),
        (592.0, 400.0),
        (624.0, 400.0),
        (656.0, 400.0),
        (688.0, 400.0),
        (720.0, 400.0),
        (752.0, 400.0),
        (784.0, 400.0),
        (816.0, 400.0),
        (848.0, 400.0),
        (880.0, 400.0),
        (912.0, 400.0),
        (944.0, 400.0),
        (976.0, 400.0),
        (1008.0, 400.0),
        (1040.0, 400.0),
        (1072.0, 400.0),
        (1104.0, 400.0),
        (1136.0, 400.0),
        (1168.0, 400.0),
        (1200.0, 400.0),
        (1232.0, 400.0),
        (1264.0, 400.0),
        (1264.0, 432.0),
        (1264.0, 464.0),
        (1264.0, 496.0),
        (1264.0, 528.0),
        (1264.0, 560.0),
        (1264.0, 592.0),
        (1264.0, 624.0),
        (1264.0, 656.0),
        (1264.0, 688.0),
        (1264.0, 720.0),
        (1264.0, 752.0),
        (1264.0, 784.0),
        (1264.0, 816.0),
        (1264.0, 848.0),
        (1264.0, 880.0),
        (1296.0, 400.0),
        (1296.0, 880.0),
        (1328.0, 400.0),
        (1328.0, 880.0),
        (1328.0, 912.0),
        (1328.0, 944.0),
        (1328.0, 976.0),
        (1328.0, 1008.0),
        (1328.0, 1040.0),
        (1328.0, 1072.0),
        (1328.0, 1104.0),
        (1328.0, 1136.0),
        (1328.0, 1168.0),
        (1328.0, 1200.0),
        (1328.0, 1232.0),
        (1328.0, 1264.0),
        (1328.0, 1296.0),
        (1360.0, 400.0),
        (1392.0, 400.0),
        (1424.0, 400.0),
        (1456.0, 400.0),
        (1488.0, 400.0),
        (1520.0, 400.0),
        (1552.0, 400.0),
        (1552.0, 432.0),
        (1552.0, 464.0),
        (1552.0, 496.0),
        (1552.0, 528.0),
        (1552.0, 560.0),
        (1552.0, 592.0),
        (1552.0, 624.0),
        (1552.0, 656.0),
        (1552.0, 688.0),
        (1552.0, 720.0),
        (1552.0, 752.0),
        (1584.0, 400.0),
        (1616.0, 400.0),
        (1648.0, 400.0),
        (1680.0, 400.0),
        (1712.0, 400.0),
        (1744.0, 400.0),
        (1776.0, 400.0),
        (1808.0, 400.0),
        (1840.0, 400.0),
        (1872.0, 400.0),
        (1904.0, 400.0),
        (1936.0, 400.0),
        (1968.0, 400.0),
        (2000.0, 400.0),
        (2032.0, 400.0),
        (2032.0, 432.0),
        (2032.0, 464.0),
        (2032.0, 496.0),
        (2032.0, 528.0),
        (2032.0, 560.0),
        (2032.0, 592.0),
        (2032.0, 624.0),
        (2032.0, 656.0),
        (2032.0, 688.0),
        (2032.0, 720.0),
        (2032.0, 752.0),
        (2032.0, 784.0),
        (2032.0, 816.0),
        (2032.0, 848.0),
        (2032.0, 880.0),
        (2064.0, 400.0),
        (2064.0, 880.0),
        (2096.0, 400.0),
        (2096.0, 880.0),
        (2096.0, 912.0),
        (2096.0, 944.0),
        (2096.0, 976.0),
        (2096.0, 1008.0),
        (2096.0, 1040.0),
        (2096.0, 1072.0),
        (2096.0, 1104.0),
        (2096.0, 1136.0),
        (2096.0, 1168.0),
        (2096.0, 1200.0),
        (2096.0, 1232.0),
        (2096.0, 1264.0),
        (2096.0, 1296.0),
        (2128.0, 400.0),
        (2160.0, 400.0),
        (2192.0, 400.0),
        (2224.0, 400.0),
        (2256.0, 400.0),
        (2288.0, 400.0),
        (2320.0, 400.0),
        (2352.0, 400.0),
        (2384.0, 400.0),
        (2416.0, 400.0),
        (2448.0, 400.0),
        (2480.0, 400.0),
        (2512.0, 400.0),
        (2544.0, 400.0),
        (2576.0, 400.0),
        (2608.0, 400.0),
        (2640.0, 400.0),
        (2672.0, 400.0),
        (2704.0, 400.0),
        (2736.0, 400.0),
        (2768.0, 400.0),
        (2800.0, 400.0),
        (2800.0, 432.0),
        (2800.0, 464.0),
        (2800.0, 496.0),
        (2800.0, 528.0),
        (2800.0, 560.0),
        (2800.0, 592.0),
        (2800.0, 624.0),
        (2800.0, 656.0),
        (2800.0, 688.0),
        (2800.0, 720.0),
        (2800.0, 752.0),
        (2800.0, 784.0),
        (2800.0, 816.0),
        (2800.0, 848.0),
        (2800.0, 880.0),
        (2800.0, 912.0),
        (2800.0, 944.0),
        (2800.0, 976.0),
        (2800.0, 1008.0),
        (2800.0, 1040.0),
        (2800.0, 1072.0),
        (2800.0, 1104.0),
        (2800.0, 1136.0),
        (2800.0, 1168.0),
        (2800.0, 1200.0),
        (2800.0, 1232.0),
        (2800.0, 1264.0),
        (2800.0, 1296.0),
        (2832.0, 400.0),
        (2864.0, 400.0),
        (2896.0, 400.0),
        (2928.0, 400.0),
        (2960.0, 400.0),
    ],
    generators: [
        (336.0, 400.0, 40.0),
    ],
    lights: [
        (496.0, 1296.0),
        (976.0, 400.0),
        (1328.0, 1296.0),
        (1936.0, 400.0),
        (2096.0, 1296.0),
        (2576.0, 400.0),
        (2800.0, 1296.0),
    ],
    chunks: [
        (
            coords: (0, 0),
            rows: [
                "                                ",
                " ###############################",
                " #..............................",
                " #..............................",
                " #..############################",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..#===========================",
                " #..############################",
                " #..............................",
                " #..............................",
                " ###############################",
                " #..............................",
                " #..............................",
                " #..............................",
                " #..............................",
                " #..............................",
                " #..............................",
            ],
        ),
        (
            coords: (1, 0),
            rows: [
                "                                ",
                "################################",
                "................................",
                "................................",
                "################################",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "================================",
                "################.###############",
                "................................",
                "................................",
                "################################",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (2, 0),
            rows: [
                "                                ",
                "################################",
                "................................",
                "................................",
                "##############################..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "=============================#..",
                "##############################..",
                "................................",
                "................................",
                "################################",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (3, 0),
            rows: [
                "                                ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
            ],
        ),
        (
            coords: (0, 1),
            rows: [
                " ##############.################",
                " #..............................",
                " #..###########.###########...##",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#.....................#...#.",
                " #..#######################...##",
                " #..............................",
                " ###############################",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
            ],
        ),
        (
            coords: (1, 1),
            rows: [
                "#########.######################",
                "................................",
                "#########.###########...########",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "....................#...#.......",
                "#####################...########",
                "................................",
                "################################",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
            ],
        ),
        (
            coords: (2, 1),
            rows: [
                "#.#####################.########",
                "................................",
                "#.#########...#########.########",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "..........#...#.................",
                "###########...##################",
                "................................",
                "################################",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
            ],
        ),
        (
            coords: (3, 1),
            rows: [
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "#                               ",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
                "                                ",
            ],
        ),
    ],
)