(
    name: "test",
    spawn_points: [
        (16.0, 16.0),
        (80.0, 16.0),
        (16.0, 80.0),
        (80.0, 80.0),
    ],
    doors: [
        (144.0, 16.0),
        (144.0, 48.0),
        (144.0, 80.0),
    ],
    door_access: [
        (
            position: (144.0, 16.0),
            access: "engineering",
        ),
    ],
    chunks: [
        (
            coords: (-2, -2),
            rows: [
                "                                ",
                "                                ",
                "  ##############################",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
            ],
        ),
        (
            coords: (-1, -2),
            rows: [
                "                                ",
                "                                ",
                "################################",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (0, -2),
            rows: [
                "                                ",
                "                                ",
                "################################",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (1, -2),
            rows: [
                "                                ",
                "                                ",
                "############################### ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
            ],
        ),
        (
            coords: (-2, -1),
            rows: [
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
            ],
        ),
        (
            coords: (-1, -1),
            rows: [
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (0, -1),
            rows: [
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (1, -1),
            rows: [
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
            ],
        ),
        (
            coords: (-2, 0),
            rows: [
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
            ],
        ),
        (
            coords: (-1, 0),
            rows: [
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (0, 0),
            rows: [
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "........#...............#.......",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "........#...............#.......",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
            ],
        ),
        (
            coords: (1, 0),
            rows: [
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "........#...............#.....# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "........#...............#.....# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
            ],
        ),
        (
            coords: (-2, 1),
            rows: [
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  #.............................",
                "  ##############################",
                "                                ",
            ],
        ),
        (
            coords: (-1, 1),
            rows: [
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "################################",
                "                                ",
            ],
        ),
        (
            coords: (0, 1),
            rows: [
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "........#...............#.......",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "........#...............#.......",
                "................................",
                "................................",
                "................................",
                "................................",
                "................................",
                "################################",
                "                                ",
            ],
        ),
        (
            coords: (1, 1),
            rows: [
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "........#...............#.....# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "........#...............#.....# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "..............................# ",
                "############################### ",
                "                                ",
            ],
        ),
    ],
)